/* some basic reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* ! by default box-sizing is not inherited, this way is forcing elements to inherient box-sizing */
    box-sizing: inherit 
}

html {
    /* * so if user changed the default font size (from 16px to something) it can be convered to the right size */
    // ! this defined what 1rem is 
    font-size: 62.5%; // 1rem = 16px

    @include respond(tab-land) { // < 900px
        font-size: 56.25%; // 1 rem = 9px, 
    }

    // ! the order matters, so the smaller one will apply when, for example, its 500px
    @include respond(tab-port) { // < 600px
        font-size: 50%; // 1 rem = 8px
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1 rem = 12px
    }

}

/* set the font in the body cause it can be inherited */
// ! see typography.scss for more body setup properties
body {
    box-sizing: border-box; 
    padding: 3rem;

    @include respond(tab-port) { 
        padding: 0;
    }
}

// this changed default selected text
::selection {
    background-color: $color-primary;
    color: $color-white;
}